<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweelocator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <center>
        <form action="/" method="post">
            <input type='text' name='bearer' placeholder='Bearer Token (from twitter)'/>
            <input type='text' name='account' placeholder='Account name (that thing with @)'/>

            <input type='submit' value='Enter'/>
        </form>

        <br><br>
        <p>* Note, that after entering data, locating user's friends may take some time (up to 15 friends)</p>
    </center>
</body>
</html>
